.information{
	width: 100%;
	overflow:hidden;
	position: relative;
}

.about-us {
	width: 25%;
	background-color: yellow;
	float: left;
}


.examination {
	width: 25%;
	background-color: red;
	float: left;
}


.recuritment {
	width: 25%;
	background-color: pink;
	float: left;
}

.buttons {
	width: 25%;
	background-color: aqua;
	float: left; 
}