.container {
	display: table;
	width: 100%;
}

.box {
	float: left;
	display: table-row;
}


.about-us, .examination, .recuritment, .buttons {
	display: table-cell;
}


.about-us {
	float: left;
	width: 25%;
	background-color: green;
}


.examination {
	float: left;
	width: 25%;
	background-color: pink;
}


.recuritment {
	float: left;
	width: 25%;
	background-color: aqua;
}


.buttons {
	float: left;
	width: 25%;
	background-color: yellow;
}