
.navbar {
    overflow: hidden;
    background-color: #154979;
    font-family: Sans-serif;
    padding: 2px;
    position: relative; 
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    
}



.navbar a {
    float: left;
    font-size: 19px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-right: 1px solid #3C6A95;
}

.dropdown {
    float: left;
    overflow: hidden;
    border-right: 1px solid #3C6A95;
}



.dropbtn img {
    width: 10px;
    height: 10px;
}


.dropbtn {
    font-size: 19px;
}


.dropdown .dropbtn {
    font-size: 14px;    
    border: none;
    outline: none;
    color:  white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #1B81DE;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #154979;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #1B81DE;
}

.dropdown:hover .dropdown-content {
    display: block;
}




.bottom-navbar {
    overflow: hidden;
    background-color: #185E95;
    font-family: Sans-serif;
    
    
}

.bottom-navbar a {
    float: left;
    font-size: 17px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


.bottom-navbar a:hover {
    background-color: #154979;
}



