@media only screen and (max-width:421px) {

	.top-navigation, .left-navigation, .right-navigation, .middle-navigation, .notice {
		float: center;
		width: 100%;
		text-align: center;
	}

	.left-logo img {
		float: center;
		width: 60%;
	}

	.left-logo h1, .left-logo h2 {
		text-align: center;
		font-size: 20px !important;
	}


	.navbar {
		float: center;
		width: 100%;
	}


	.navbar a, .dropdown {
		text-align: left;
		width: 100%;
	}


	.slideshow, {
		width: 100%;
		height: 10%;
		float: center;
	}


	.notice {
		top: -1px;
		z-index: -1;
	}


	.bottom-navbar a {
		width: 100%;
		float: center;
		text-align: left;
	}


  .quarter-width {
    width: 100%!important;
    float: center;
  }


  .container, .bottom-navbar {
    width: 100%;
    float: center;
    top: -1px;
  }
}



@media only screen and (max-width: 421px) {
  .navbar a {display: none;}
  .dropdown button {display: none;}
  .navbar a.icon {
    float: center;
    display: block;
  }
}

@media only screen and (max-width: 421px) {
  .navbar.responsive {
    position: relative; 
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .navbar.responsive .icon {
    position: relative;
    float: none;
    right: 0;
    top: 0;
  }

  .navbar.responsive a {
    position: relative;
    float: none;
    display: block;
    -webkit-transition: .3s;
    transition: .3s;
  }


  .dropdown-content a {
  	font-size: 12px;
  }



  .navbar.responsive .dropdown {float: none;}
  .navbar.responsive .dropdown-content {position: relative;}
  .navbar.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}


.navbar .icon {
  display: none;
}



/* screen size = 842px */

@media only screen and (max-width:842px) {
  .top-navigation, .left-navigation, .right-navigation, .middle-navigation, .navbar, .notice {
    width: 100%;
    float: center;
    text-align: center;
  }


  .left-logo img {
    float: center;
    width: 20%;
  }



  .left-logo h1, .left-logo h2, .left-logo a {
    text-align: center;
    float: center;
    width: 100%;
    font-size: 35px;
  }


  .navbar a, .dropdown .dropbtn {
    font-size: 12px;
  }


  .notice {
    top: -1px;
    z-index: -1;
  }


  .container, .bottom-navbar {
    width: 100%;
    float: center;
    top: -1px;
  }


  .quarter-width {
    width: 50%;
  }

  .bottom-navbar a {
    font-size: 12px;
  }

  .bottom-navbar img {
    width: 20px;
    height: 20px;
  }

}